.context-upper {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: brown;
  border-radius: 50px;
  color: #fff;
  font-size: 20px;
}
.context-lower {
  margin-top: 10px;
  width: 100%;
  color: #fff;
  padding: 15px;
  border-radius: 50px;
  background-color: rgb(170, 62, 62);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.context-block-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.context-inner {
  width: 40%;
  color: #fff;
  background-color: lightcoral;
  border-radius: 50px;
  text-align: center;
  min-height: 200px;
  margin: 20px;
}
