.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 50px;
}
.header img {
  width: 80px;
  height: 60px;
  cursor: pointer;
}

.header .task-list {
  display: flex;
  align-items: center;
}

.task-item button {
  background-color: rgb(255, 123, 0);
  border: none;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
