<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style-task1.css" />
  </head>
  <body>
    <a href="../index.html">BACK</a>
    <main>
      <p class="first-paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae
        dicta sint ex, in officia sequi velit veritatis, eligendi accusantium
        dolor sit, architecto vitae quod veniam amet reprehenderit iusto quos
        eveniet?
      </p>

      <p id="second-paragraph" class="second-paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae
        dicta sint ex, in officia sequi velit veritatis, eligendi accusantium
        dolor sit, architecto vitae quod veniam amet reprehenderit iusto quos
        eveniet?
      </p>

      <p class="third-paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae
        dicta sint ex, in officia sequi velit veritatis, eligendi accusantium
        dolor sit, architecto vitae quod veniam amet reprehenderit iusto quos
        eveniet?
      </p>

      <div class="first-div-el">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

      <div class="second-div-el">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </main>
  </body>
</html>
