<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style-task2.css" />
  </head>
  <body>
    <a href="../index.html">BACK</a>

    <h1>Млинці з сиром</h1>

    <h2 class="curs">Продукти:</h2>

    <p><span class="bold">Борошно</span> - 1 склянка</p>
    <p>
      <span class="bold">Сметана домашня</span> - 3 ст.л. (для тіста)
      <span class="under">плюс сметана</span> для подачі на стіл
    </p>
    <p>
      <span class="bold"
        >Вода кип'ячена тепла (H<sub>2</sub>O) або BONAQUA®</span
      >
      - 2 склянки
    </p>
    <p>
      <span class="bold">Олія</span> - <s>1 ст.л.</s> 2 ст.л. (для тіста)
      <span class="under">плюс масло для змащування сковороди</span>
    </p>
    <p><span class="bold">Яйця</span> - 2 шт.</p>
    <p><span class="bold">Сир домашній</span> - <s>250</s> 300 грам</p>
    <p><span class="bold">Масло вершкове</span> - 50 грам</p>
    <p><span class="bold">Сіль</span> - щіпка</p>
    <p>
      <span class="bold">Цукор</span> - за смаком
      <span class="bg-yellow-color">(можна не давати)</span>
    </p>
    <div class="hr"></div>
    <p class="curs">
      Успіх смачних млинців залежить від того, які використані інгредієнти і що
      вибрано за основу!
    </p>
  </body>
</html>
