.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div {
  background: rgb(255, 165, 0);
  width: 500px;
  padding: 10px;
  color: white;
}

h1 {
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.first {
  margin-left: 10px;
  margin-right: 10px;
}

.second {
  font-size: 18px;
  font-style: italic;
  padding-left: 10px;
}

.second li {
  background-color: rgb(153, 180, 102);
  margin-bottom: 10px;
  padding-left: 40px;
}

span {
  padding: 10px 20px;
  display: inline-block;
}

.first > li > span {
  font-size: 20px;
  font-weight: 700;
  background: rgb(199, 124, 106);
  margin-bottom: 10px;
  margin-left: 10px;
}

.first span {
  background: rgb(218, 106, 32);
}

ul li {
  padding-left: 30px;
}

.first > li {
  background-color: rgb(103, 158, 128);
  background-image: url("../icons/rule.png");
}

.choose-way {
  background-image: url("../icons/ad_units.png");
}

.plane-ticket {
  background-image: url("../icons/airplane_ticket.png");
}

.hotel {
  background-image: url("../icons/hotel.png");
}

.car-rent {
  background-image: url("../icons/car_rental.png");
}

.museum {
  background-image: url("../icons/museum.png");
}

.casino {
  background-image: url("../icons/casino.png");
}

.festival {
  background-image: url("../icons/festival.png");
}

.bar {
  background-image: url("../icons/local_bar.png");
}
