<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/style-task2.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo-sec">
          <a href="../index.html">
            <img src="../assets/panda.png" alt="panda" />
          </a>
        </div>
        <div class="task-list">
          <div class="task-item">
            <a href="task1.html"><button>Task 1</button></a>
            <a href="task2.html"><button>Task 2</button></a>
            <a href="task3.html"><button>Task 3</button></a>
            <a href="task4.html"><button>Task 4</button></a>
            <a href="task5.html"><button>Task 5</button></a>
          </div>
        </div>
      </div>
      <main class="block-container">
        <div class="block first">
          <p>
            Block 1 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block second">
          <p>
            Block 2 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block third">
          <p>
            Block 3 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block fourth">
          <p>
            Block 4 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block fifth">
          <p>
            Block 5 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block sixth">
          <p>
            Block 6 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>

        <div class="block seventh">
          <p>
            Block 7 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block eights">
          <p>
            Block 8 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block ninth">
          <p>
            Block 9 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block tenth">
          <p>
            Block 10 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block eleventh">
          <p>
            Block 11 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
        <div class="block twelfth">
          <p>
            Block 12 <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, itaque
            fuga adipisci delectus sapiente distinctio, rerum explicabo
            molestiae perferendis nemo, saepe facilis quibusdam reprehenderit ut
            voluptatem veritatis totam. Voluptatibus, atque.
          </p>
        </div>
      </main>
    </div>
  </body>
</html>
