<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style-task3.css" />
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="logo-sec">
          <a href="../index.html">
            <img src="../assets/panda.png" alt="panda" />
          </a>
        </div>
        <div class="task-list">
          <div class="task-item">
            <a href="task1.html"><button>Task 1</button></a>
            <a href="task2.html"><button>Task 2</button></a>
            <a href="task3.html"><button>Task 3</button></a>
            <a href="task4.html"><button>Task 4</button></a>
            <a href="task5.html"><button>Task 5</button></a>
          </div>
        </div>
      </div>
      <main>
        <div class="context-upper">
          <p>Block 13</p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab labore
          reprehenderit eaque quaerat. Architecto ad veniam quod voluptate
          exercitationem quae nesciunt fugiat mollitia nisi adipisci. Totam
          vitae consectetur esse quo! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Iure inventore in eligendi voluptatem corporis odio
          sapiente laborum, omnis aperiam quidem incidunt, eum expedita? Est,
          quaerat molestiae quidem aut quae cumque. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Eligendi necessitatibus rem,
          perspiciatis quidem dicta quos praesentium temporibus in consectetur
          laborum tempore pariatur recusandae ex molestiae, voluptate porro
          inventore quo ea! Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Doloribus delectus similique at maiores ipsum laborum, ducimus
          in vel dicta molestiae vitae reiciendis aperiam rerum laudantium
          voluptatum
        </div>
        <div class="context-lower">
          <p>Block 14</p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ut,
          facere adipisci consequatur magnam nam veritatis provident dolorum
          itaque a esse odit iusto vero iste animi hic. Ipsum, molestias cum?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
          voluptatum nobis amet similique sunt neque earum dolorum laboriosam
          praesentium atque dicta assumenda veritatis id fuga repellendus fugit,
          accusamus veniam ut.
          <div class="context-block-inner">
            <div class="context-inner">
              <p>Block 15</p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              assumenda quod sit maxime officia molestias, minus cumque deleniti
              nulla. Natus dicta quam at iste sit voluptatum fugiat quasi.
              Placeat, dolorum. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Explicabo, inventore atque rerum minus alias
              obcaecati aliquid officiis distinctio dolores. Qui aliquid quis
              magni illo perspiciatis voluptatum earum odit voluptates
              laboriosam!
            </div>
            <div class="context-inner">
              <p>Block 16</p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              assumenda quod sit maxime officia molestias, minus cumque deleniti
              nulla. Natus dicta quam at iste sit voluptatum fugiat quasi.
              Placeat, dolorum. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Explicabo, inventore atque rerum minus alias
            </div>
          </div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
          tempore minima voluptatum corrupti laborum vel repellat. Maxime
          tenetur aperiam facere repellat quidem assumenda cupiditate esse
          obcaecati pariatur. Dolor, maiores quidem? Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eos voluptatem doloribus qui iste id.
          Similique sunt voluptates eum. Beatae quidem rem amet, suscipit
          corrupti ipsam quia. Tenetur et eveniet laboriosam!
        </div>
      </main>
    </div>
  </body>
</html>
