<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style-task2.css" />
  </head>
  <body>
    <main class="container">
      <a href="../index.html">BACK</a>
      <table>
        <tr>
          <td>Choose your plan</td>
          <td>Starter <br />10$</td>
          <td>Economy <br />20$</td>
          <td>Standard <br />40$</td>
          <td>Proffesional <br />60$</td>
        </tr>
        <tr>
          <td>Latter remark</td>
          <td>+</td>
          <td>+</td>
          <td>+</td>
          <td>+</td>
        </tr>
        <tr>
          <td>Small for ask</td>
          <td>+</td>
          <td>+</td>
          <td>+</td>
          <td>+</td>
        </tr>
        <tr>
          <td>At none neat</td>
          <td>-</td>
          <td>-</td>
          <td>+</td>
          <td>+</td>
        </tr>
        <tr>
          <td>Any delicate</td>
          <td>+</td>
          <td>-</td>
          <td>+</td>
          <td>+</td>
        </tr>
        <tr>
          <td>To sure calm</td>
          <td>+</td>
          <td>+</td>
          <td>+</td>
          <td>+</td>
        </tr>
      </table>
    </main>
  </body>
</html>
