<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style-task1.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="container">
      <a href="../index.html">BACK</a>
      <div>
        <h1>План подорожі</h1>
        <ul class="first">
          <li>
            <span>Підготовчий етап</span>
            <ul class="second">
              <li class="choose-way"><span>Обрати маршрут</span></li>
              <li class="plane-ticket"><span>Квитки на літак</span></li>
              <li class="hotel"><span>Готель</span></li>
              <li class="car-rent"><span>Оренда авто</span></li>
            </ul>
          </li>
          <li>
            <span>Відпочинок</span>
            <ul class="second">
              <li class="bar"><span>Бари</span></li>
              <li class="casino"><span>Казино</span></li>
              <li class="museum"><span>Музеї</span></li>
              <li class="festival"><span>Фестивалі</span></li>
            </ul>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
